<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10">Schedule a new workout</h1>
  <p class="text-lg text-grey-darker mb-6">Schedule a new workout session by choosing the best time that works for you below.</p>
  <%= render 'form', workout: @workout %>
</div>

<%= link_to 'Back', workouts_path %>