<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10"><%= icon('far', 'calendar-plus') %> Schedule a new session</h1>
  <%= render 'form', workout: @workout %>
</div>

<%= link_to 'Back', workouts_path %>