<% if can? :crud, @users %>
    <% @users.each do |user| %>
        <div>
            <h2><%= user.full_name %></h2>
            <button><%= link_to 'Edit', edit_user_path(user) %></button>
            <button><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
    <% end %>
<% end %>