<div class="grid-container">
    <div class="grid-item card mt-4">
    <h1>Welcome to Train-In<h1>
    </div>
    <div class="grid-item card mt-4">
    <%= image_tag 'photo-1490225421893-2908ffad8593.jpeg', alt: 'art-image', class: 'whatever' %>
    </div>
</div>