<h1>My Workouts</h1>

<% @user_workouts.each do |user_workout| %>
<div>
    <h3><%= user_friendly_range(user_workout.workout.start_time) %> to <%= readable_time(user_workout.workout.end_time) %> - <%=user_workout.workout.user.first_name%></h3>
    <hr />
</div>
<% end%>