/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset.css";
@import "font-awesome-sprockets";
@import "font-awesome";


@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Vollkorn&display=swap');


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;  
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* Responsive Images */
img {max-width: 100%; height: auto; margin-bottom: 0em;}

/* Typographic Styles */

h1, h2, h3, h4, h5 {font-family: 'Vollkorn', serif;}
h1 {
    font-size: 3.000em; 
    margin-bottom: 0.3em;
    background:rgb(51, 160, 51);
  }
  
  h2 {font-size: 2.441em;margin-bottom: 0.3em;}
  
  h3 {font-size: 1.953em;margin-bottom: 0.3em; margin-top: 0.3em;}
  
  h4 {font-size: 1.563em;margin-bottom: 1em;}
  
  h5 {font-size: 1.20em;margin-bottom: 0.03em;}
  
  small, .text_small {font-size: 0.8em;}

p {font-size: 1.520em; margin-bottom: 0.3em; line-height: 1.3;}

li {font-size: 1.520em; margin-bottom: 0.5em; line-height: 1.3;}

input, select {border: 1px solid black; background: none; font-size: 2.052em; width: 100%; margin-bottom: 1em; text-align: center;}

button {font-size: 1em; border: 1px solid black; border-radius: .3em; background: black; color: white; padding: 1em 2em; margin-bottom: 1em;}


button:active, button:hover {background: white; color: black;}

.nav-link { font-size: 2em;}

.main-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

// body {padding: 3em;
//     font-family: 'IBM Plex Sans', sans-serif;}

// .welcome {
//     background-image: url("app/assets/images/photo-1490225421893-2908ffad8593.jpeg");
//     background-size: cover;
// }

.welcome {background: white;}

.booked {background: rgb(73, 173, 168)}

.available {background: rgb(62, 231, 127)}

.logo {
  background: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-logo {
  margin-top: 1em;
  margin-bottom: 0.01em;
}

.logo p {
  margin-top: 0;
}

.logo h1 { background: white }
/* Hyperlink Styles */

a {text-decoration: none; color: #777;}
a:hover {text-decoration: underline;}

button a {color: white;}

button a:active, button a:hover {color: black;}

// Search for workout



// Hamburger Menu

:root {
  --primary-color: rgb(51, 160, 51);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  padding: 1em;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.4;
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 1rem 0.3rem 1rem 0.3rem;
}
.container contact {
  background: hotpink;
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#search {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0 0;
}

input #search {
  padding: 0 0; font-size: 1.052em; width: 100%; margin-bottom: 0.5em;
}

div .search {
  padding: 0rem 0rem 0rem 0rem;
}
.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}
.showcase:before {
  content: "";
  background: url(../img/photo.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.showcase h1 {
  font-size: 4rem;
}
.showcase p {
  font-size: 1.3rem;
}
.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}
.btn:hover {
  opacity: 0.7;
}


.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.meals {background-color: rgb(182, 69, 182);}

.food-account {background-color: rgb(241, 77, 77)}
